<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>Alcohol Diary</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="nav-bar">
    <a class="main-logo" onclick="location.href='/admin/main'">Alcohol Diary</a>
    <div class="menu">
        <div class="menu-item" onclick="location.href='/admin/nickname'">nickname</div>
        <div class="menu-item">b</div>
        <div class="menu-item">c</div>
        <div class="menu-item">d</div>
    </div>
</div>
<div class="container">

</div>
</body>
</html>