<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Alcohol Diary</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="nav-bar">
    <div class="main-logo" onclick="location.href='/admin/main'">Alcohol Diary</div>
    <div class="menu">
        <div class="menu-item" onclick="location.href='/admin/nickname'">nickname</div>
        <div class="menu-item">b</div>
        <div class="menu-item">c</div>
        <div class="menu-item">d</div>
    </div>
</div>
<div class="container">
    <div class="nickname-wrapper">
        <div class="nickname-tokens">
            <div class="nickname-header">first</div>
            <form class="nickname-token-form" action="/admin/nickname" method="post">
                <input class="nickname-token-form-button" type="submit" value="제출">
                <input class="nickname-token-form-input" type="text" name="keyword"/>
                <input type="hidden" name="ordinal" value="FIRST"/>
            </form>
            <div class="nickname-token-wrapper" th:each="tokenDto : ${randomNicknameTokens.firstNicknameTokens()}">
                <div class="nickname-token" th:data-token-id="${tokenDto.id()}" th:text="${tokenDto.token()}"></div>
            </div>
        </div>
        <div class="nickname-tokens">
            <div class="nickname-header">second</div>
            <form class="nickname-token-form" action="/admin/nickname" method="post">
                <input class="nickname-token-form-button" type="submit" value="제출">
                <input class="nickname-token-form-input" type="text" name="keyword"/>
                <input type="hidden" name="ordinal" value="SECOND"/>
            </form>
            <div class="nickname-token-wrapper" th:each="tokenDto : ${randomNicknameTokens.secondNicknameTokens()}">
                <div class="nickname-token" th:data-token-id="${tokenDto.id()}" th:text="${tokenDto.token()}"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function tokenClick(e) {
            console.log(e);
            console.log(e.target.dataset.tokenId);
        }

        const tokenElements = document.querySelectorAll('.nickname-token');
        tokenElements.forEach(element => {
            element.addEventListener('click', tokenClick)
        });
    })
</script>
</html>