<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <button onclick="kakaoLogin()">카카오 로그인</button>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id="475943899731-uja7l3blc11d0vmnt0318dnj22vakboe.apps.googleusercontent.com"
         data-callback="handleCredentialResponse">
    </div>
    <div class="g_id_signin" data-type="standard"></div>
</body>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
    Kakao.init('f836705a66924b3b51cda0643f40573d');

    function kakaoLogin() {
        Kakao.Auth.login({
            success: function(authObj) {
                Kakao.API.request({
                    url: '/v2/user/me',
                    success: function(res) {
                        // 서버로 사용자 정보 전송
                        sendUserInfoToServer(res);
                    },
                    fail: function(error) {
                        console.log(error);
                    }
                });
            },
            fail: function(error) {
                console.log(error);
            }
        });
    }

    function handleCredentialResponse(response) {
        const id_token = response.credential;
        const payload = JSON.parse(atob(id_token.split('.')[1]));

        console.log('User ID: ' + payload.sub);
        console.log('Full Name: ' + payload.name);
        console.log('Given Name: ' + payload.given_name);
        console.log('Family Name: ' + payload.family_name);
        console.log('Image URL: ' + payload.picture);
        console.log('Email: ' + payload.email);
    }

    function sendUserInfoToServer(userInfo) {
        fetch("https://api.alc-diary.shop/api/v1/auth/kakao/success", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(userInfo)
        })
            .then(res => res.json())
            .then(data => {
                window.location.href = `https://api.alc-diary.shop/kakao/redirect?accessToken=${data.data.accessToken}&refreshToken=${data.data.refreshToken}`;
            });
    }
</script>
</html>